src/scanner.[ch]
src/parser.[ch]
*.output
*.orig
*.o
compiler
Makefile
autom4te.cache/
config.h
config.log
config.status
examples/f.gif
examples/f.png
examples/graph.gv
src/.deps/
src/Makefile
src/compiler-parser.c
src/compiler-parser.h
stamp-h1
